header {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

nav a {
  padding: 10px;
  background-color: grey;
}

figcaption {
  font-size: 14px;
  text-align: center;
}

#featured-property {
  text-align: center;
}
#featured-property p {
  width: 800px;
  margin: 20px auto;
}

#details div {
  float: left;
  width: 25%;
}

#bottom-row {
  display: flex;
  justify-content: center;
}
#bottom-row div {
  width: 25%;
  background-color: grey;
  text-align: center;
}